@import "tailwindcss";

@theme {
  --color-background: #f5f4ef;
  --color-foreground: #171717;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}
