@import "tailwindcss";

@theme {
  --color-background: #f5f4ef;
  --color-foreground: #171717;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* Custom Scrollbar for Kanban */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}
